.header {
    position: fixed;
    top: 0px;
    background: #FFFFFF;
    width: 100%;
    padding: 25px 30px;
    box-shadow: 0px 4px 20px 0px #00000040;
    display: flex;
    justify-content: space-between;

    .project-title{
        font-family: Halis R;
        font-size: 25px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -1px;
        text-align: left;
        color: #002841;
    }

    .brand-name{
        
    }
}