.login-container {
    // display: flex;
    // padding: 100px 25px 25px 25px;
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;

        .login-form {
            display: flex;
            // width: 1150px;
            // padding: 0px 360px 60px 360px;
            // padding: 25px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;
    
            .welcome-text{
                color: var(--Pepper-RED, #DF0024);
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: 'Halis R', sans-serif;
                font-size: 22px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                gap: 30px;
            }
    
            .instruction-container {
                color: var(--Blue, #002841);
                font-feature-settings: 'clig' off, 'liga' off;
                font-family:  'Halis R', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; 
            }
    
            .input-container{
                display: flex;
                gap: 30px;
    
                .email-container, .password-container{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 5px;
                    flex: 1 0 0;
    
                    label {
                        color: var(--Dark-Blue, #002841);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: 'Halis R', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px;
                    }
    
                    input {
                        display: flex;
                        height: 50px;
                        padding: 0px 20px;
                        align-items: center;
                        gap: 10px;
                        align-self: stretch;
                        border-radius: 20px;
                        border: 1px solid var(--Grey-300, #E0E0E0);
                        background: var(--White, #FFF);
                    }
                }
            }
    
            .reminder-text{
                display: flex;
                gap: 8px;
               input {
                height: 20px;
                width: 20px;
               }
               span {
                color: var(--Blue, #002841);
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: 'Halis R', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; 
               }
    
            }
    
            .submit-button{
                cursor: pointer;
                display: flex;
                width: 323px;
                height: 60px;
                padding: 0px 30px;
                align-items: center;
                gap: 30px;
                border-radius: 30px;
                background: var(--Dark-Blue, #002841);
                color: var(--White, #FFF);
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: 'Halis R', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
            }

            .forgot-password-text{
                color: var(--Blue, #002841);
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: 'Halis R', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;

                a {
                    cursor: pointer;
                    color: var(--Pepper-RED, #DF0024);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: 'Halis R', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    text-decoration-line: underline;
                }
            }

            .contact-details{
                a {
                    cursor: pointer;
                    color: var(--Pepper-RED, #DF0024);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: 'Halis R', sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    text-decoration-line: underline;
                }
            }
    }
  
    .cover-page-image{
        display: flex;
        flex-direction: column;
        padding: 30px 0px 30px 30px;
        align-items: flex-end;
        // flex: 1 0 0;
        //align-self: stretch;
    }
}