@import '../../../assets/styles/variable.scss';
@import '../../../assets/styles/mixins.scss';

.header-section {
    border-bottom: $border-line;
    background: $white;
    display: flex;
    box-shadow: 0px 4px 20px 0px #00000040;
    justify-content: space-between;
    align-items: center;
    padding: 12px 48px;
    background: var(--white);

        .project-title{
            font-family: 'Halis R', sans-serif;
            font-feature-settings: 'clig' off, 'liga' off;
            font-size: 25px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: -1px;
            text-align: left;
            color: $dark-blue;
            font-style: normal;
        }

        .pages {
            display: flex;
            gap: 60px;
            flex: 0 0 auto;
            a {
                @include medium-text;
                color: $dark-blue;
                font-weight: 700;
            }
        }

        .user-details-wrapper{
            display: flex;
            gap: 30px;
            
            .chat-section{
                display: flex;
                align-items: center;
                gap: 10px;

                span{
                    @include medium-text;
                    color: $dark-blue;
                    font-weight: 500;
                }
            }
            .user-info {
                display: flex;
                gap: 20px;
                text-align: end;

                .user-name-container{
                    @include large-text;
                }
                .text-holder{
                    @include small-text;
                    font-weight: 400;
                }
                .date-time{
                    @include small-text;
                }

                img{
                    border-radius: 50px;
                }
            }
        }
}