@import '../../assets/styles/variable.scss';
@import '../../assets/styles/mixins.scss';

.form-container {
    .content-container{
        height: calc(100vh - 150px);
        overflow-y: auto;
    }
    .header-section{
        .back-btn{
            padding: 30px 250px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 20px;

        }
    }
    .form-container{
        padding: 100px 250px 120px;
        align-items: center;
        display: flex;
        justify-items: flex-start;
        flex-direction: column;
        gap: 30px;

        .form{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .form-title{
            @include large-text;
        }

        .sub-title{
            @include medium-text;
            color: $dark-blue;
            font-weight: 400;
        }

        .image-container{
            display: flex;
            flex-direction: column;
            gap: 30px;


            .custom-dropzone {
                @include small-text;
                color: $gray-dark-grey;
                height: 200px;
                border-radius: 20px;
                border: $border-line-1;
            }
        }

        .amount-category-container, .feedback-status-container{
            display: flex;
            column-gap: 30px;
        }

        .fields-container{
            display: flex;
            flex-direction: column;

            label{
                @include small-text;
                color: $dark-blue;
                span{
                    @include small-text;
                    color:$dark-red;
                }
            }

            input{
                display: flex;
                height: 50px;
                padding: 0px 20px;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                border-radius: 20px;
                border: $border-line-1;
                background: $white;
                min-width: 500px;
            }

            select {
                display: flex;
                height: 50px;
                padding: 0px 20px;
                align-items: center;
                gap: 10px;
                align-self: stretch;
                border-radius: 20px;
                border: $border-line-1;
                background: $white;
                min-width: 500px;
            }

            .feedback-stars{
                min-width: 500px;
                padding: 20px;
            }
        }

        .upload-btn-container{
            display: flex;
            gap: 30px
        }

        .submit-btn, .upload-btn {
            @include medium-text;
            display: flex;
            width: 323px;
            height: 60px;
            padding: 0px 30px;
            align-items: center;
            gap: 30px;
            border-radius: 30px;
            background: $dark-blue;
            color: $white;
            font-weight: 700;
            cursor: pointer;
        }

        .upload-btn:disabled {
            cursor: auto;
            background-color: $ivory;
            border: none;
        }

    }
}