<div class="footer-section">
    <div class="footer">
        <div class="brand-name">
            <img src="assets/images/logo-white.png">
        </div>
        <div class="copyright-section">
            Copyright © Pepper Advantage Technologies Limited 2023. Pepper Advantage is the trading name of Pepper Advantage Technologies Limited. Company 
            <br> Number 13572732. Registered Office: Third Floor, East Suite, Carrington House, 126-130 Regent Street, London, England, W1B 5SE.

        </div>
    </div>
</div>
