@import '../../assets/styles/variable.scss';
@import '../../assets/styles/mixins.scss';


.home-page-container {
   padding: 100px 300px 0px;

   .content-wrapper{
        height: calc(100vh - 280px);
        overflow-y: auto;
    .home-header-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 60px;

        .username{
            @include extra-large-text ;
            color: $dark-blue;
            span{
                @include extra-large-text ;
                color: $dark-red;
                font-weight: 700;
            }
        }

        .add-btn {
            @include medium-text ;
            cursor: pointer;
            color: $white;
            font-weight: 700;
            display: flex;
            width: 323px;
            height: 60px;
            padding: 0px 30px;
            align-items: center;
            gap: 30px;
            border-radius: 30px;
            background: var(--Dark-Blue, #002841);
            justify-content: space-between;
        }
    }
    
       table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        thead {
            background: rgba(0, 40, 65, 0.10);
            th {
                @include medium-text;
                text-align: left;
                padding: 10px 10px;
                border: 1px solid var(--Grey, #D1D3D4);
                color: $dark-blue;
                font-weight: 700;
            }
        }
        tbody{
            td {
                padding: 10px;
                border: 1px solid var(--Grey, #D1D3D4);
            }

            .editBtn{
                cursor: pointer;
            }
        }
       }
   }


}