@import '../../assets/styles/variable.scss';
@import '../../assets/styles/mixins.scss';


.home-page-container {
   padding: 100px 300px 0px;

   .content-wrapper {
        height: calc(100vh - 280px);
        //
    .home-header-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 60px;

        .username{
            @include extra-large-text ;
            color: $dark-blue;
            span{
                @include extra-large-text ;
                color: $dark-red;
                font-weight: 700;
            }
        }

        .add-btn {
            @include medium-text ;
            cursor: pointer;
            color: $white;
            font-weight: 700;
            display: flex;
            width: 323px;
            height: 60px;
            padding: 0px 30px;
            align-items: center;
            gap: 30px;
            border-radius: 30px;
            background: $dark-blue;
            justify-content: space-between;
        }
    }
    
    .table-container{
        height: calc(100% - 374px);
        overflow-y: auto;
        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            thead {
                background: $table-background;
                th {
                    @include medium-text;
                    text-align: left;
                    padding: 10px 10px;
                    border: $table-border;
                    color: $dark-blue;
                    font-weight: 700;
                }
            }
            tbody{
                td {
                    padding: 10px;
                    border: $table-border;
                }
    
                .property-image{
                    width: 14%;
                    img {
                        height: 130px;
                        width: 180px;
                    }
                }
    
                .status{
                    @include medium-text;
                    color: $white;
                    font-weight: 400;  
                    display: flex;
                    padding: 10px;
                    align-items: center;
                    gap: 10px; 
                    border-radius: 5px;
                    display: inline-block;
                }
    
                .available{
                    background: $green;
                }
                .sold{
                    background: $negative-red;
                }
                .under-offer{
                    background: $orange;
                }
                .rating {
                    width: 18%;
                }
    
                .editBtn{
                    cursor: pointer;
                }
            }
           }
    }
   }


}