@import './variable.scss';

@mixin small-text {
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'Halis R', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
}

@mixin medium-text { 
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'Halis R', sans-serif;
        font-size: 18px;
        font-style: normal;
        line-height: 24px;
}

@mixin large-text {
        color: $dark-red;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'Halis R', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
}

@mixin extra-large-text {
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'Halis R', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px;
}